{% extends 'base_task.html' %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col">
            <a href="/"><- kembali</a>
            <form action="/updatedata/{{ mhs['id'] }}" method="post">
                <h3>Update data</h3>
                <input placeholder="Nama Lengkap" type="text" name="nama" id="nama" autocomplete="off" value="{{ mhs['nama'] }}">
                <br>
                <input placeholder="Nilai" type="number" name="nilai" id="nilai" autocomplete="off" value="{{ mhs['nilai'] }}">
                <br>
                <button type="submit" class="btn btn-sm mt-2 btn-primary" name="submit" value="submit">Update</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}

ini tulisan tidak akan muncul